black~=22.0
flake8>=3.7.9, <4.0
ipython>=7.31.1, <8.0
isort~=5.0
bandit~=1.7
pytest-cov~=3.0
pytest~=6.2

jupyter~=1.0
jupyterlab~=3.0

kedro~=0.18.4
kedro-datasets[spark.SparkDataSet, pandas.ParquetDataSet]~=1.0.0
kedro-viz~=6.0

pandas~=1.5
pyspark~=3.3
scikit-learn==1.2.1  # fix for sagemaker

boto3~=1.24
sagemaker~=2.146
